<%- include('../partials/header') %>

<div class="header">TIME WAITS FOR NO ONE!</div>
              <table>               
                <thead>
                  <tr>
                  <th>
                    <h3>Goal</h3>
                  </th>
                  <th>
                    <h3>Description</h3>
                  </th>
                  <th>
                    <h3>Priority</h3>
                  </th>
                  <th>
                    <h3>Schedule</h3>
                  </th>
                  <th>
                    <h3>Completed</h3>
                  </th>
                  <th>
                    <h3>Remove</h3>
                  </th>
                </tr>
              </thead>
             
              <tbody>
                <% events.forEach(function(ev) { %>
                  <tr>
                    <!-- refer back to schema (req.body>_)  -->
                    <td><%= ev.name %></td> 
                    <td><%= ev.description %></td>
                    <td><%= ev.location %></td>
                    <td><%= ev.schedule %></td>
                    <td> 
                      <form action="/events/<%= ev._id %>?_method=DELETE" method="POST">
                       <button class="button4" type="submit">CLEAR</button> 
                     </form> </td>
                     <td><input type="checkbox" name="completed" notchecked>
                     </td>
                  </tr>
                  <tr>
                 

                   <!--figure out how to print just name-->
                  </tr>
                  <% }); %>
                </tbody>
              </table>
           </body>
            </html>
          
